<div class="field">
    <p class="control has-icons-left has-icons-right">
        <input class="input" id="username" type="username" placeholder="USERNAME">
    </p>
</div>
<div class="field">
    <p class="control has-icons-left">
        <input class="input" id="password" type="password" placeholder="PASSWORD">
    </p>
</div>
<div class="field">
    <p class="control">
        <button class="button is-warning" id="login-button">
            LOGIN
        </button>
        <button class="button is-warning" id="reg-button">
            REGISTER
        </button>
    </p>
</div>

<script src="/js/login.js"></script>

